<div class="max-w-2xl p-4 mx-auto">
  <h1 class="mb-4 text-2xl font-semibold">Search Analytics</h1>

  <h2 class="mb-4 text-xl font-semibold">Top Most Searched Queries</h2>

  <table class="w-full border border-collapse border-gray-300">
    <thead>
      <tr class="bg-gray-200">
        <th class="px-4 py-2 border border-gray-300">Search Query</th>
        <th class="px-4 py-2 border border-gray-300">Count</th>
      </tr>
    </thead>
    <tbody>
      <% @most_searched_queries.each do |query, count| %>
        <tr>
          <td class="px-4 py-2 border border-gray-300"><%= query %></td>
          <td class="px-4 py-2 border border-gray-300"><%= count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% @users.each do |user| %>
    <h2 class="my-4 text-xl font-semibold">Searches by <%= user.email %></h2>

    <table class="w-full mb-6 border border-collapse border-gray-300">
      <thead>
        <tr class="bg-gray-200">
          <th class="px-4 py-2 border border-gray-300">Search Query</th>
          <th class="px-4 py-2 border border-gray-300">Count</th>
        </tr>
      </thead>
      <tbody>
        <% user_search_queries = SearchQuery.where(user_id: user.id).group(:query).order('count_id DESC').limit(10).count(:id) %>
        <% user_search_queries.each do |query, count| %>
          <tr>
            <td class="px-4 py-2 border border-gray-300"><%= query %></td>
            <td class="px-4 py-2 border border-gray-300"><%= count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
