<!DOCTYPE html>
<html>
  <head>
    <title>Articles</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-100">
    <nav class="bg-cyan-800 p-4 shadow-md">
      <div class="max-w-7xl mx-auto">
        <div class="flex justify-between items-center">
          <div class="text-white text-xl font-semibold">
            <%= link_to 'Articles', root_path, class: 'text-white hover:text-blue-200' %>
          </div>
          <% if user_signed_in? %>
            <div class="flex gap-2 text-white">
              <strong><%= current_user.email %></strong>
              
              <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'link-style' %>
            </div>
          <% else %>
            <div>
              <%= link_to 'Sign up', new_user_registration_path, class: 'text-white hover:text-blue-200' %> |
              <%= link_to 'Login', new_user_session_path, class: 'text-white hover:text-blue-200' %>
            </div>
          <% end %>
        </div>
      </div>
    </nav>

    <div class="max-w-7xl mx-auto p-4">
      <%= yield %>
    </div>
  </body>
</html>
